---
import AboutVideo from "../assets/video1.mp4"
---

<div class="flex flex-col md:flex-row gap-8">
  <div class="h-1/2 md:h-full md:w-1/2">
  <video class="h-full w-full object-cover object-center" autoplay muted loop>
    <source src={AboutVideo} type="video/mp4" />
  </video>
  </div>
  <div class="md:w-1/2">
    <h2 class="text-center">MORE ABOUT US</h2>
    <p class="text-justify">
      We, Buy One Gram, Jaipur, Rajasthan, strive to offer excellent services to
      our prestigious customers & are known for trusted & superior quality of
      products. All the products are stored safely in our clean & updated store.
      Understanding our customer's need & demand, we provide a wide variety of
      pulses & cereals of high nutritional value. With the professional approach
      to a traditional niche, we offer prompt & on- time services.
    </p>
  </div>
</div>
