---
import HeroVideo from "../assets/video.mp4"
---

<div
  class="relative flex justify-center items-center text-center p-0 overflow-hidden"
>
  <h1 class="text-white text-[2rem] sm:text-5xl md:text-[5rem] w-4/5">CREATING A NEW WORLD OF B2B E-COMMERCE PLATFORM.</h1>
  <video
    class="absolute top-0 left-0 -z-10 min-h-full min-w-full object-cover object-center"
    autoplay
    loop
    muted
  >
    <source src={HeroVideo} type="video/mp4" />
  </video>
</div>
